<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">
            {{ 'PROFILE ' | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#settings" data-toggle="tab" class="nav-link">
            {{ 'SETTINGS ' | translate}}
          </a>
        </li>
      </ul>
      <div class="tab-content py-4">

        <!--Tab profile-->
        <div class="tab-pane active" id="profile">
          <div class="alert alert-success col-xs-12">
              {{ 'IF_THERE_IS_ANY_DISCREPANCIES' | translate}}.
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'NAME ' | translate}}:</span>
                  </div>
                  <input type="text" class="form-control" value="{{_userService.user.name}}" disabled>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'LASTNAME ' | translate}}:</span>
                  </div>
                  <input type="text" class="form-control" value="{{_userService.user.lastname}}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'PHONE_NUMBER ' | translate}}:</span>
                  </div>
                  <input type="text" class="form-control" value="{{_userService.user.phoneNumber}}" disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'LANGUAGE ' | translate}}:</span>
                  </div>
                  <input type="text" class="form-control" value="{{_userService.user.language}}" disabled>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'ROLE ' | translate}}:</span>
                  </div>
                  <input type="text" class="form-control" value="{{_userService.user.role}}" disabled>
                </div>
              </div>
            </div>
            

          </div>
        </div>

        <!--Tab Settings-->
        <div class="tab-pane" id="settings">
          <div class="alert alert-success" role="alert" *ngIf = "alert">
            {{alert}}
          </div>
          <form [formGroup]="formaMail" (ngSubmit)="changeMail()">
            <h4> 
              {{ 'CHANGE_YOUR_EMAIL' | translate}}
            </h4>
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label class="col-3 col-form-label">
                    {{ 'EMAIL ' | translate}}
                  </label>
                  <div class="col-9">
                    <input class="form-control" [ngClass]="{ 'is-invalid': !formaMail.controls['email'].valid }" type="text" placeholder="Email"
                      formControlName="email">
                    <div *ngIf="formaMail.get('email').errors?.pattern && !formaMail.get('email').errors?.required" class="form-control-feedback invalid-feedback">
                      {{ 'THE_EMAIL_IS_NOT_VALID. ' | translate}}.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group row">
                  <label class="col-3 col-form-label">
                      {{ 'RETYPE_EMAIL ' | translate}}
                  </label>
                  <div class="col-9">
                    <input class="form-control" [ngClass]="{ 'is-invalid': !formaMail.controls['confirmemail'].valid }" type="text" placeholder="Confirm email"
                      formControlName="confirmemail">
                    <div *ngIf="formaMail.get('email').errors?.pattern && !formaMail.get('confirmemail').errors?.required" class="form-control-feedback invalid-feedback">
                      {{ 'THE_EMAIL_IS_NOT_VALID. ' | translate}}.
                    </div>
                    <div *ngIf="formaMail.get('confirmemail').errors?.notEqualsMail && !formaMail.get('confirmemail').errors?.required && formaMail.get('confirmemail').errors?.pattern"
                      class="form-control-feedback invalid-feedback">
                      {{ 'THE_EMAILS_ARE_NOT_EQUAL ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!formaMail.valid">
                    {{ 'CHANGE_MAIL ' | translate}}
                </button>
              </div>
              <div class="col-md-6">
                <button type="reset" class="btn btn-secondary btn-block">
                  {{ 'RESET ' | translate}}
                </button>
              </div>
            </div>
          </form>

          <hr>

          <form [formGroup]="formaPass" (ngSubmit)="changePass()">
            <h4> {{ 'CHANGE_PASSWORD ' | translate}}</h4>
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label class="col-3 col-form-label">
                    {{ 'PASSWORD' | translate}}
                  </label>
                  <div class="col-9">
                    <input class="form-control" [ngClass]="{ 'is-invalid': !formaPass.controls['password'].valid }" type="password" placeholder="Password"
                      formControlName="password">
                      <div class="form-control-feedback invalid-feedback">
                        {{ 'USER_PASSWORD_IN_DEMO_SITE_IS ' | translate}}
                      </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="form-group row">
                  <label class="col-3 col-form-label">
                      {{ 'RETYPE_PASSWORD ' | translate}}
                  </label>
                  <div class="col-9">
                    <input class="form-control" [ngClass]="{ 'is-invalid': !formaPass.controls['confirmpassword'].valid }" type="password" placeholder="Confirm password"
                      formControlName="confirmpassword">
                    <div class="form-control-feedback invalid-feedback">
                      {{ 'USER_PASSWORD_IN_DEMO_SITE_IS ' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary btn-block" disabled>
                    {{ 'CHANGE_PASSWORD ' | translate}}
                </button>
              </div>
              <div class="col-md-6">
                <button type="reset" class="btn btn-secondary btn-block" disabled>
                  {{ 'RESET ' | translate}}
                </button>
              </div>
            </div>
          </form>












        </div>

      </div>
    </div>

    <!--Left Column-->
    <div class="col-lg-4 order-lg-1 text-center">
      <img src="assets/img/user-profile.png" class="mx-auto img-fluid img-circle d-block" alt="avatar">
      <h6 class="mt-2">{{_userService.user.name}} {{_userService.user.lastname}}</h6>
      <button type="button" class="btn btn-circle btn-danger btn-sm" 
        data-toggle="modal" data-target="#deleteAccountModal">
        {{ 'DELETE_ACCOUNT ' | translate}}
      </button>
    </div>
  </div>
</div>



<!-- The delete account Modal -->
<div class="modal fade" id="deleteAccountModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-body"><div class="modal-header">
        <h4 class="modal-title">{{ 'ARE_YOU_SURE ' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <p>
          {{ 'DO_YOU_WANT_DELETE_ACCOUNT ' | translate}}
      </p>
        <div class="row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-main-color btn-block" (click)="deleteAccount()" data-dismiss="modal">
                {{ 'YES ' | translate}}
            </button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-secondary btn-block" data-dismiss="modal">
                {{ 'NO ' | translate}}
            </button>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>