<nav class="navbar navbar-expand-lg navbar-main-color">
  <a [routerLink]="['/']"><img [src]= LOGO class="d-inline-block align-top" alt=""></a>
  <div class="navbar-collapse" id="LoginNavbar">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      <select class="form-control form-control-sm" (change)="changeLanguage($event.target.value)">
        <option *ngFor="let language of _resourceService.languages" [value]="language.id"
                [selected]="language.id == _userService.user?.language">
          {{ language.name }}
        </option>
      </select>
      <div>
        <p></p>
      </div>
      <button class="btn btn-secondary-color btn-sm" data-toggle="modal" data-target="#LoginModal" *ngIf="!_userService.user">Login</button>
      <button class="btn btn-secondary-color btn-sm" (click)="logout()" *ngIf="_userService.user">{{ 'LOGOUT' | translate }}      </button>
      <button [routerLink]="['register']" class="btn btn-secondary-color btn-sm" *ngIf="!_userService.user">{{ 'REGISTER' | translate }}      </button>
    </span>
  </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-secondary-color navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['admin']" *ngIf="_userService.user?.role == '2'">{{ 'ADMIN' | translate}} </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['myappointments']" *ngIf="_userService.user">{{ 'MY_APPOINTMENTS' | translate}}        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['bookappointments']">{{ 'BOOKAPPOINTMENTS' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['accountinfo']" *ngIf="_userService.user">{{ 'ACCOUNT INFO' | translate}}        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- The Login Modal -->
<div class="modal fade" id="LoginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ 'AUTHENTICATION' | translate}}        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngIf="alert" class="alert alert-success" role="alert">
          {{alert}}
        </div>
        <form>
          <div class="row">
            <div class="form-group col-md-6">
              <label>{{ 'USERNAME / EMAIL' | translate}}              </label>
              <input class="form-control" type="text" [value]="login.username" name="username" [(ngModel)]=login.username>
            </div>
            <div class="col-md-6">
              <label>{{ 'PASSWORD' | translate}}              </label>
              <input class="form-control" type="password" [value]="login.password" name="password" [(ngModel)]=login.password>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <button type="submit" class="btn btn-main-color btn-block" (click)="doLogin()">
                {{ 'LOGIN' | translate}}
              </button>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-secondary btn-block" data-dismiss="modal">
                {{ 'CANCEL' | translate}}
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>