<h4 *ngIf="_resourceService.hospitals?.length == 1">{{ 'BOOK_APPOINTMENTS_FOR ' | translate}}  {{hospitals[0].name}}</h4>
<h4 *ngIf="_resourceService.hospitals?.length > 1">{{ 'BOOK_APPOINTMENTS ' | translate}}</h4>
<hr>

<form #forma="ngForm">
  <div class="form-row">
    <div class="col-md-6">
      <div class="row" *ngIf="_resourceService.hospitals?.length > 1">
        <div class="form-group col-md-12">
          <label>{{ 'CHOOSE_YOUR_HOSPITAL ' | translate}}</label>
          <div class="input-group mb-3">
            <select name="hospital" class="form-control" [(ngModel)]=searchterms.hospitalId>
              <option *ngFor="let hospital of _resourceService.hospitals" [value]="hospital.id">{{ hospital.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.hospitalId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>{{ 'SOURCE_OF_FUNDING ' | translate}}</label>
          <div class="input-group mb-3">
            <select name="payor" class="form-control" [(ngModel)]=searchterms.payorId>
              <option *ngFor="let payor of _resourceService.payors" [value]="payor.id">{{ payor.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.payorId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-md-12">
          <label>{{ 'DEPARTMENT ' | translate}}</label>
          <div class="input-group mb-3">
            <select name="department" class="form-control" [(ngModel)]=searchterms.departmentId [disabled]="!searchterms.hospitalId"
              (ngModelChange)="searchDoctors()">
              <option *ngFor="let department of _resourceService.departments" [value]="department.id">{{ department.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.departmentId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="row">
        <div class="form-group col-md-12">
          <label>{{ 'CONSULTANT ' | translate}}</label>
          <div class="input-group mb-3">
            <select name="consultant" class="form-control" [(ngModel)]=searchterms.doctorId [disabled]="!_resourceService.doctors.length">
              <option *ngFor="let doctor of _resourceService.doctors" [value]="doctor.id">{{ doctor.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.doctorId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        
        <div class="form-group col-md-6">
          <label>{{ 'SCHEDULE' | translate}}</label>
          <div class="input-group mb-3">
            <select name="schedule" class="form-control" [(ngModel)]=searchterms.scheduleId>
              <option *ngFor="let schedule of _resourceService.schedules" [value]="schedule.id">{{ schedule.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.scheduleId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>{{ 'DATE ' | translate}}</label>
          <input class="form-control" type="date" [value]="searchterms.date" name="date" [(ngModel)]=searchterms.date>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-main-color btn-block" (click)="searchFreeSlots()">
        {{ 'SEARCH ' | translate}}
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-secondary-color btn-block"  (click)="reset()">
        {{ 'RESET ' | translate}}
      </button>
    </div>
  </div>
</form>
<div class="alert alert-warning" role="alert" *ngIf="_userService.alert">
  {{_userService.alert}}
</div>

<div *ngIf="freeslots.length">
  <h4>{{ 'SELECT_YOUR_APPOINTMENT ' | translate}}</h4>
  <div id="container" [@listAnimation]="freeslots.length">
  <div  *ngFor="let freeslot of freeslots; let i = index"  [@listAnimation]="state">
    <div class="card sm-12" data-toggle="modal" data-target="#FreeSlotModal">
      <div class="card-header btn-main-color">{{ 'CONSULTANT ' | translate}}: {{freeslot.doctorName}}</div>
      <div class="card-body">
        <h5 class="card-title">{{ 'DEPARTMENT ' | translate}}: {{freeslot.department}}</h5>
        <p class="card-text">{{ 'DATE ' | translate}}: {{freeslot.date}} | {{ 'HOUR ' | translate}}: {{freeslot.hour}}</p>
        <small class="text-muted">{{ 'OPTIONS ' | translate}}</small>
        <br />
        <button type="button"  class="btn background-main-color" (click)="sendFreeslot(freeslot)"> 
          {{ 'BOOK ' | translate}}
        </button>
        <button type="button" class="btn background-secondary-color" (click)="discardFreeslot(i)"> 
          {{ 'DISCARD' | translate}}
        </button>
      </div>
    </div>
    <br />
    <br />
  </div>
  </div>
</div>



<!-- The FreeSlot Modal -->
<div class="modal fade" id="FreeSlotModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ 'YOUR_SELECTION ' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            {{ 'DATE ' | translate}}: {{_resourceService.selectedFreeslot?.date}} | Hour: {{_resourceService.selectedFreeslot?.hour}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{_resourceService.selectedFreeslot?.doctorName}}</h5>
            <p class="card-text">Department: {{_resourceService.selectedFreeslot?.department}}
            </p>
            <div class="row" *ngIf="!_userService.user">
              <div class="form-group col-md-4">
                <button class="btn btn-main-color btn-block" data-toggle="modal" data-target="#LoginModal" data-dismiss="modal">
                  {{ 'LOGIN' | translate}}
                </button>
              </div>
              <div class="form-group col-md-4">
                <button class="btn btn-main-color btn-block" data-dismiss="modal" (click)="goRegister()">
                  {{ 'REGISTER' | translate}}
                </button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-secondary-color btn-block" data-dismiss="modal" (click)="cancelSelectedfreeslot()">
                  {{ 'CANCEL' | translate}}
                </button>
              </div>
            </div>
            <div class="row" *ngIf="_userService.user">
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-main-color btn-block" data-dismiss="modal" (click)="bookSlot(_resourceService.selectedFreeslot)">
                  {{ 'BOOK ' | translate}}
                </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-secondary-color btn-block" data-dismiss="modal"  (click)="cancelSelectedfreeslot()">
                  {{ 'CANCEL' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>