<h4 *ngIf="hospitals?.length == 1">Book appointments for {{hospitals[0].name}}</h4>
<h4 *ngIf="hospitals?.length > 1">Book appointments</h4>
<hr>
<form #forma="ngForm">
  <div class="form-row">
    <div class="col-md-6">

      <div class="row" *ngIf="hospitals?.length > 1">
        <div class="form-group col-md-12">
          <label>Choose your Hospital</label>
          <div class="input-group mb-3">
            <select name="hospital" class="form-control" [(ngModel)]=searchterms.hospitalId>
              <option *ngFor="let hospital of hospitals" [value]="hospital.id">{{ hospital.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.hospitalId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>Source of funding</label>
          <div class="input-group mb-3">
            <select name="payor" class="form-control" [(ngModel)]=searchterms.payorId>
              <option *ngFor="let payor of payors" [value]="payor.id">{{ payor.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.payorId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-md-12">
          <label>Department</label>
          <div class="input-group mb-3">
            <select name="department" class="form-control" [(ngModel)]=searchterms.departmentId [disabled]="!searchterms.hospitalId"
              (ngModelChange)="searchDoctors()">
              <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.departmentId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="row">
        <div class="form-group col-md-12">
          <label>Consultant</label>
          <div class="input-group mb-3">
            <select name="consultant" class="form-control" [(ngModel)]=searchterms.doctorId [disabled]="!doctors.length">
              <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text" (click)="searchterms.doctorId = null">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 offset-md-3">
          <label>Date</label>
          <input class="form-control" type="date" [value]="searchterms.date" name="date" [(ngModel)]=searchterms.date>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-main-color btn-block" (click)="searchFreeSlots()">
        Search
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-secondary-color btn-block"  (click)="reset()">
        Reset
      </button>
    </div>
  </div>
</form>
<div class="alert alert-warning" role="alert" *ngIf="_userService.alert">
  {{_userService.alert}}
</div>

<div *ngIf="freeslots.length">
  <div id="no-more-tables">
    <h4>Select your appointment</h4>
    <table class="col-md-12 table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Hour</th>
          <th scope="col">Consultant</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let freeslot of freeslots" data-toggle="modal" data-target="#FreeSlotModal" (click)="sendFreeslot(freeslot)">
          <th>{{freeslot.date}}</th>
          <th>{{freeslot.hour}}</th>
          <th>{{freeslot.doctorName}}</th>
          <th>{{freeslot.department}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- The FreeSlot Modal -->
<div class="modal fade" id="FreeSlotModal" *ngIf="_resourceService.selectedFreeslot">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Your selection</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            Date: {{_resourceService.selectedFreeslot.date}} | Hour: {{_resourceService.selectedFreeslot.hour}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{_resourceService.selectedFreeslot.doctorName}}</h5>
            <p class="card-text">Department: {{_resourceService.selectedFreeslot.department}}
            </p>
            <div class="row" *ngIf="!_userService.user">
              <div class="form-group col-md-4">
                <button class="btn btn-main-color btn-block" data-toggle="modal" data-target="#LoginModal" data-dismiss="modal">
                  Login
                </button>
              </div>
              <div class="form-group col-md-4">
                <button class="btn btn-main-color btn-block" data-dismiss="modal" (click)="goRegister()">
                  Register
                </button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-secondary-color btn-block" data-dismiss="modal">
                  Cancel
                </button>
              </div>
            </div>
            <div class="row" *ngIf="_userService.user">
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-main-color btn-block" data-dismiss="modal" (click)="bookSlot(_resourceService.selectedFreeslot)">
                  Book
                </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-secondary-color btn-block" data-dismiss="modal">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>