<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h5>
          {{NAME}}
        </h5>
        <div class="row">
          <div class="col-6">
            <i class="fas fa-map-marker"></i> {{ADDRESS}}
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-2">
        <h5 class="text-md-right">Contact Us</h5>
      </div>
      <div class="col-md-5">
        <form>
          <fieldset class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </fieldset>
          <fieldset class="form-group">
            <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
          </fieldset>
          <fieldset class="form-group text-xs-right">
            <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</footer>